<!DOCTYPE html>
<html lang = "en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/buttons-min.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/tables-min.css">
<link rel="stylesheet" href="style.css">
<title>Food prices in New Zealand</title>
</head>
<body>
<div id = "wrapper">
