body {
    font-family: Helvetica, Arial, Sans-Serif;
	text-rendering: optimizeLegibility;

	-webkit-font-variant-ligatures: common-ligatures;
	font-variant-ligatures: common-ligatures;

    background-color: white;
}

div#wrapper {
  margin: 0 1rem 2rem 1rem;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1rem;
  font-style: italic;
  margin-top: 0;
}

.category-button { 
  width: 250px;
  text-align: left;
  border-radius: 4px;
}

.back-button {
  font-weight: bold;
}

.chart {
  margin-top: 2rem;
}

.price-chart {
  width: 800px;
}

.previous-price {
  font-size: 1.5rem;
}

.align-right {
  text-align: right;
}

.C1 { 
  background: #ff9800;
  color: white;
}

.C2 {
  background: #4caf50;
  color: white;
}

.C3 {
  background: #ef5350;
  color: white;
}

.C4 { 
  background: #a1887f;
  color: white;
}

.C5 {
  background: #fbc02d;
  color: white;
}

.C6 {
  background: #2196f3;
  color: white;
}

.C7 {
  background: #607d8b;
  color: white;
}

.C8 {
  background: #9e9e9e;
  color: white;
}
